<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="/css/trix.css">
  <link rel="stylesheet" href="/css/app.css">
  <title>{{pageName}}</title>
</head>
<body>
  <div class="site-name container">
    <h1>
      <a href="/">
        <i class="material-icons logo">developer_board</i>
        <span class="main-title">
          DevWork
        </span>
      </a>
    </h1>
    {{#if bar}}
      <div class="search-bar">
        <form action="#">
          <input type="text" class="search">
          <input type="submit" value="Search">
        </form>
      </div>
    {{/if}}
  </div>

  <header class="site-header container divider">
    <h2>{{pageName}}</h2>
    {{#if tagline}}
      <p class="tagline">{{tagline}}</p>
    {{/if}}

    {{#if button}}
      <a href="/job-vacancies/new"class="btn btn-blue">
        <i class="material-icons publish">business_center</i>
        Publish new job
      </a>
    {{/if}}
  </header>

  <div class="content-top container">
    {{{body}}}
  </div>
  <script src="/js/trix.js"></script>
  <script src="/dist/bundle.js"></script>
</body>
</html>