<main class="job-list">
  <h2>Job List</h2>

  <div class="job-background">
    <div class="job-vacancy">
      <div class="box">
        <h3>Facebook</h3>
        <p class="position">Senor ReactJS Developer</p>
      </div>
      <div class="box">
        <p class="label">Location</p>
        <p class="name">Remote</p>
      </div>
      <div class="box">
        <p class="label">Contract</p>
        <p class="name contract">Full-Time</p>
      </div>
      <div class="box center-vertically">
        <a href="#" class="btn btn-info">
          More Info
        </a>
      </div>
    </div>
  </div>

  <div class="job-background">
    <div class="job-vacancy">
      <div class="box">
        <h3>Google</h3>
        <p class="position">NodeJS Engineer</p>
      </div>
      <div class="box">
        <p class="label">Location</p>
        <p class="name">Palos Altos, CA</p>
      </div>
      <div class="box">
        <p class="label">Contract</p>
        <p class="name contract">Full-Time</p>
      </div>
      <div class="box center-vertically">
        <a href="#" class="btn btn-info">
          More Info
        </a>
      </div>
    </div>
  </div>

  <div class="job-background">
    <div class="job-vacancy">
      <div class="box">
        <h3>Twitter</h3>
        <p class="position">Angular Developer</p>
      </div>
      <div class="box">
        <p class="label">Location</p>
        <p class="name">Chicago, IL</p>
      </div>
      <div class="box">
        <p class="label">Contract</p>
        <p class="name contract">Part-Time</p>
      </div>
      <div class="box center-vertically">
        <a href="#" class="btn btn-info">
          More Info
        </a>
      </div>
    </div>
  </div>
</main>