:root {
    --white: #ffffff;
    --blue-darken-4: #0d47a1;
    --blue-darken-3: #1565c0;
    --blue-darken-2: #1976d2;
    --blue-darken-1: #1e88e5;
    --blue-lighten-2: #64b5f6;
    --typo: #0f1115;
    --grey: #666666;
    --light-grey: #ededed;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
p {
    font-size: 1.6rem;
}
/** Global Styles **/
h1, h2, h3 {
    color: var(--typo);
    margin: 0;
}
h1 {
    font-weight: bold;
    font-size: 4rem;
}
h2 {
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
}

h2.job-list-title {
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.2em;
    font-weight: 400;
    margin-top: .5em;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.divider {
    padding-bottom: 2rem;
    padding-top: .1rem;
    border-bottom: 1px solid var(--light-grey);
}

h1 span.main-title {
    color: var(--typo);
}

/** Material Design Icons **/
.material-icons.logo {
    font-size: 6rem;
    vertical-align: middle;
    margin-bottom: 5px;
    color: var(--blue-darken-2);
}

.material-icons.publish {
    vertical-align: middle;
    margin-bottom: 5px;
}

.material-icons.joblist {
    font-size: 3.5rem;
    vertical-align: middle;
    margin-bottom: 5px;
    padding-left: 2rem;
    color: var(--blue-darken-3);
}

.material-icons.info {
    font-size: 2.5rem;
    vertical-align: middle;
    margin-bottom: 5px;
    color: var(--blue-darken-3);
}

.material-icons.job {
    font-size: 4rem;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: 5px;
}

.material-icons.location {
    font-size: 3rem;
    vertical-align: middle;
    margin-bottom: 5px;
}

/** Buttons **/
.btn {
    font-size: 1.8rem;
    padding: 1rem 1rem;   
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .3s ease-out;
    display: block;
    border: none;
}
.btn-info {
    background-color: var(--white);
    color: var(--typo);
    border: 2px solid var(--grey);
    padding: .33em; 
    font-size: 1em;
    line-height: 1;
}
/*.btn-info:hover {
    background-color: var(--blue-darken-1);
}*/

.btn-blue {
    background-color: var(--blue-darken-2);
}
.btn-blue:hover {
    background-color: var(--blue-darken-1);
}

.btn-yellow {
    background-color: #F6B15F;
}
.btn-red {
    background-color: #C80045;
}

.edit-btn {
    margin-top: 4rem;
}
.edit-btn {
    flex: 0 0 auto;
    text-align: center;
}

/** Header **/
.tagline {
    font-size: 2.2rem;
    color: var(--grey);
    margin: 2rem 0 3rem 0;
}


.site-header {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.site-name {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}
.site-name a {
    text-decoration: none;
}
.search-bar {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.search-bar form {
    flex:1;
    position: relative;
}
@media (min-width: 768px) {
    .search-bar form {
        flex: 0 0 40%;
    }
}

.search-bar input[type="text"] {
    background-color: var(--grey);
    width: 100%;
    border: none;
    padding: .5rem 2rem .5rem 2rem;
    height: 4rem;
    color: var(--white);
    font-size: 1.7rem;
}
.search-bar input[type="submit"] {
    display: block;
    text-indent: -9999px;
    height: 30px;
    width:30px;
    position: absolute;
    right: 10px;
    top: 5px;
    background-image: url(../img/lupa.png);
    background-color: transparent;
    border: none !important;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}
.search-bar input[type="submit"]:hover {
    cursor: pointer;
}

.search-bar input[type="submit"]:visited {
    border: none;
}

@media (min-width:768px) {
    .job-candidate,
    .job-vacancy {
        display: flex;
    }
    .box {
        flex: 1;
    }
    .box:first-of-type{
        flex: 2;
    }
}
.job-candidate,
.job-vacancy {
    padding: 0rem 0;
    border-bottom: 1px solid var(--light-grey);
}
.job-candidate,
.job-vacancy:last-of-type{
    border:none;
}
.job-background {
    padding-left: 2rem;
}
.job-background:hover {
    background-color: #ededed;
}
.job-logo {
    overflow: hidden;
    width: 3em;
    height: 3em;
    margin-top: .5em;
    margin-right: .2em;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
    object-position: center;
    border: 1px solid #dddddd;
}
.box {
    padding: .1rem 1rem;
    margin: .1rem 1rem;
}

.box p {
    color: #ffffff;
}
.contract {
    text-transform: capitalize;
}
.box .position,
.box .label {
    font-weight: 800;
    color: var(--typo);
    font-size: 1.2em;
    margin: 0;
    text-align: left;
}
.box .label {
    margin:1rem 0 0 0;
}
p.name,
.name.contract {
    color: var(--typo);
}
.box .name { 
    font-size: 1.2em; 
    margin: .5rem 0; 
    text-align: left;
}
.box .btn {
    text-align: center;
}

.center-vertically{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-horizontally {
    display: flex;
    justify-content: center;
}

.job-vacancy-container h2 {
    color: #616065;
    font-size: 2.4rem;
}
.content-top {
    margin-bottom: 6rem;
}
@media (min-width:768px){
    .job-vacancy-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .job-vacancy-container main{
        flex: 0 0 60%;
    }
    .job-vacancy-container aside {
        flex: 0 0 calc(40% - 2rem);
    }
}
.job-vacancy-description h1 {
    line-height: 1.4;
}
.job-vacancy-description {
    color: var(--typo);
    line-height: 2.2;
}
.skills {
    color: var(--typo);
}
.skills li,
.job-vacancy-description div  {
    font-size: 1.8rem;
    line-height: 2.2;
}


.send-data h2 {
    font-size: 4rem;
    color: white;
}
.send-data p {
    color: white;
    font-size: 1.8rem;
}

/** Iniciar Sesión **/
.default-form {
    max-width: 800px;
    margin: 4rem  auto 0 auto; 
}
.default-form h3 {
    color: var(--blue-darken-1);
    font-size: 2.4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    
}
.default-form .field {
    margin-bottom: 3rem;
    display: flex;   
}
.default-form label {
    padding-top: 1rem;
    flex: 0 0 18rem;
    font-size: 1.8rem;
    color: var(--typo);
    font-weight: 700;
    text-transform: uppercase;
}
.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="text"],
.default-form input[type="number"],
.default-form input[type="file"],
.default-form select,
.default-form textarea  {
    flex: 1;
    height: 4.5rem;
    padding: 1rem;
    font-size: 1.8rem;
    border: 1px solid var(--grey);
} 

.default-form input[type="file"] {
    color: white;
}
trix-toolbar {
    background-color: var(--light-grey);
}
trix-toolbar {
    padding: 1rem;
}
trix-editor {
    font-size: 1.8rem;
    min-height: 30rem!important;
    padding: 2rem;
}
trix-editor h1, 
trix-editor blockquote {
    color: black;
}
trix-toolbar .trix-button-group {
    margin-bottom: 0;
}
trix-toolbar .trix-button--icon-strike {
    display: none;
}
.field.description {
    display: block;
}
.field.description label {
    display: block;
    margin-bottom: 2rem;
}
.default-form input[type="submit"] {
    margin-top: 2rem;
}
.default-form input[type="submit"]:hover {
    cursor: pointer;
}

.default-form .actions {
    display: flex;
    justify-content: space-between;
}
.default-form a {
    color: #616065;
    text-decoration: none;
}

.skill-set {
    list-style: none;
    padding: 0;    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-set  li {
    border: 2px solid var(--typo);
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--typo);
    flex: 0 0 calc( 50% - 1rem);
    text-align: center;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-set  li.active {
    background-color: var(--blue-lighten-2);
    border: 2px solid var(--blue-lighten-2);
    color: var(--white);
}
.skill-set  li:hover {
    cursor: pointer;
    background-color: var(--blue-darken-3);
    color: var(--white);
    border: 2px solid var(--blue-darken-3)
}

@media (min-width:480px) {
    .skill-set li {
        flex: 0 0 calc( 33% - 1rem);
    }
}
@media (min-width:768px) {
    .skill-set li {
        flex: 0 0 calc( 25% - 1rem);
    }
}
@media (min-width:992px) {
    .skill-set li {
        flex: 0 0 calc( 20% - 1rem);
    }
}

/** Admin area styles **/

p.job-candidates {
    font-weight: 400;
    color: white;
    display: block;
    font-size: 1.8rem;
    margin: 1rem 0 0 0;
    text-align: left!important;
    text-decoration: none;
    color: #616065;
}
.admin-profile {
    width: 120px;
    align-self: flex-start;
    margin-right: 1rem;
}
.close-session p, 
.close-session a {
    margin:  0 2rem 0 0 ;
    color: #888;
}
.close-session {
    margin-top: 2rem;
    color: white;
    display: flex;
}
.close-session img {
        width: 80px;
}
.buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2rem 0 5rem 0;
    margin-bottom: 5rem;
}
.buttons a {
    margin-right: 2rem;
}
.job-list-.job-candidates p,
.job-list.job-vacancys p {
    color: white;
    text-align: center;
}

/** Alert styles **/
.swal2-popup {
    width: 60rem!important;
}
.swal2-popup .swal2-title {
    font-size: 3.4rem!important;
}
.swal2-content {
    font-size: 2rem!important;
}
.swal2-popup .swal2-styled.swal2-cancel,
.swal2-popup .swal2-styled.swal2-confirm {
    font-size: 2rem!important;
}

/** Flash Messages **/
.alerts {
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 65px;
}
.alert {
    padding: 1rem 3rem; 
    color: white;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: .3rem;
}
.success {
    background-color: #00C897;
}
.error {
    background-color: #C80045;
}
.hidden {
    opacity: 0;
}



/** Bio job.job-vacancy **/
.info-recruiter h2 {
    color: #616065;
    font-size: 2.4rem;
}
.info-recruiter img {
    max-width: 300px;
    width: 100%;
}
.data-recruiter {
    border-top: 3px solid #272727;
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}
.data-recruiter p {
    font-size: 2.4rem;
    color: white;
}
@media (min-width:768px){
    .send-data {
        flex: 0 0 calc(70% - 1rem);
    }
    .info-recruiter {
        flex: 0 0 calc(30% - 1rem );
    }
}
.send-data h2 {
    font-size: 4rem;
    color: white;
}
.send-data p {
    color: white;
    font-size: 1.8rem;
}